ul, li, h1, h2, p{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
.inline-icon{
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    flex-shrink: 0;
}
body{
    background-image: url(/img/bg.jpg);  
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }
  .container{
      max-width:  1400px;
      margin: 0 auto;
  }


/*header*/

.header{
    height: 103px;
  &-inner{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px;
  }
  &__link{
    text-decoration: none;
    color: black;
    font-size: 20px;
    &:hover{
        text-decoration: underline;
    }
}
  
}
.menu{
    flex-basis: 42%;
    display: flex;
    justify-content: flex-end;
    margin-right: 140px;
    line-height: 103px;
    .menu__item{
        list-style-type: none;
        &:not(:last-child){
            margin-right: 106px;
        }
        a{
          text-decoration: none;
          color: black;
          font-size: 20px;
          &:hover{
              text-decoration: underline;
          }
        }
      }
  }
  .logo{
      margin-right: 50px;
      position: absolute;
      top: 0;
      left: calc(50% - 93px);
      z-index: -1;
  }
 
  .search{
      border: none;
      width: 219px;
      height: 35px;
      color: #A3A3A3;
      box-shadow: 0px 0px 20px rgba(47, 47, 47, 0.1);
      border-radius: 25px;
      padding-left: 20px;
      padding-right: 35px;
      background-image: url(/img/search.svg);
      background-repeat: no-repeat;
      background-position: right 20px center;
      
  }
.backet{
    width: 40px;
    height: 40px;
}
/*first screen*/

.first-screen{
    &-bg{
        padding-top: 150px;
        padding-left: 150px;
        min-height: 626px;
        background-image: url(/img/bg-first-screen.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
   &__title{
       font-size: 60px;
       font-family: 'Pacifico', sans-serif;
       color: #fff;
       font-weight: 400;
       width: 610px;
       line-height: 69px;
       margin-bottom: 26px;
   }
   &__text{
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    width: 485px;
    margin-bottom: 66px;
   }
   &__cards{
       display: flex;
   }
}
.bg-element-cashew{
    position: absolute;
    right: 0;
    z-index: -1;
}

.category{
    &__card{
        width: 220px;
        height: 220px;
        border-radius: 25px;
        background-color: #fff;
       
        box-shadow: (0px 0px 30px rgba(0, 0, 0, 0.15));
            &:not(:last-child){
                margin-right: 30px;
            }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: all 0.3s ease-in-out ;
       
    }
    &__img{
        height: 138px;
    }
    &__btn{
        width: 180px;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(20px);
        border-radius: 25px;
        padding: 10px 15px;
        color: #fff;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: 0.015em;
        background-image: url(/img/arrow.svg);
        background-repeat: no-repeat;
        background-position: right 13px center;
    }
}
.category__card:hover{
   
    background-color: #E9E6E7;
    transition: all 0.3s ease-in-out ;
}

/*advantages*/
.advantages{
    padding: 0 10px;
    padding-top: 96px;
    padding-bottom: 80px;
    position: relative;
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &-card{
        width: 308px;
        padding: 10px 5px;
        padding-bottom: 50px;
        background: #FFFFFF;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        &:not(:last-child){
            margin-right: 30px;
        }
        &__img{
            margin-bottom: 40px;
            height: 210px;
        }
        &__title{
            font-size: 20px;
            line-height: 23px;
            font-weight: 700;
            letter-spacing: 0.01em;
            color: #0C0340;
            margin-bottom: 16px;
        }
        &__text{
            line-height: 18px;
            text-align: center;
            letter-spacing: 0.01em;
            color: #454545;
        }
    }
}
.mindal{
    position: absolute;
    z-index: -1;
    top: 315px;
    left: -40px;
}
.section-title{
    font-family: 'Pacifico', sans-serif;
    font-size: 60px;
    line-height: 69px;
    color: #0C0340;
    text-align: center;
    margin-bottom: 80px;
}
.choice{
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    &__category{
        padding: 10px 65px;
        background: #FFFFFF;
/* тень */

box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
border-radius: 50px;
    }
}

.tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    &__and{
        margin: 0 45px;
        font-family: Pacifico;
        font-size: 35px;
        line-height: 40px;
        color: #0C0340;
    }
    &__arrow{
        opacity: 0;
        transition: opacity, 0.3s ease-in-out;
    }
}

.choice__category{
    width: 322px;
    font-family: 'Pacifico', sans-serif;
    border: none;
    font-size: 35px;
    line-height: 40px;
    color: #454545;
    padding-top: 10px;
    padding-bottom: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
}

.active-ct{
    background: linear-gradient(270deg, #03DDDD 0%, #01B2B2 100%);
    color: #fff;
}
.active-arrow{
   opacity:1;
   transition: opacity, 0.3s ease-in-out;
}

.product__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 30px;
    
}
.product-bg-img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;

}
.product{
    width: 296px;
    height: 425px;
    background-image: url(/img/product.png);
    background-position: center center;
    box-sizing: 100%;
    border-radius: 25px;
    position: relative;
    margin-bottom: 40px;
    &__img{
        width: 95%;
    }
    &__price{
        background-image: url(/img/bg-price.png);
        background-repeat: no-repeat;
        color:#fff;
        font-family: Pacifico;
        font-size: 24px;
        line-height: 28px;
        padding: 3px 9px 9px;
        position: absolute;
        top: 235px;
        right: 27px;
    }
    &__title{
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #303030;
        margin-top: 23px;
    }
    &__amount{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 23px;
    }
    &__about{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 20px;
    }
    &__backet{
        color: #fff;
    }
    &__cart{
        background: #00B0B0;
        border-radius: 50px;
        padding: 5px 16px;
        border: none;
    }
}
.about{
    font-size: 12px;
    color:#000;
    line-height: 14px;
    &:hover{
        color: #00B0B0;
    }
}
.weight{
    line-height: 19px;
    border: 1px solid #454545;
    border-radius: 10px;
    padding: 3px 15px;
    margin: 0 15px;
}

.regulator{
    width: 25px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #454545;
    border-radius: 10px;
    padding: 2px;
}
.show-style{
    background: linear-gradient(90deg, #01B3B3 0%, #03DDDD 100%);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    border: none;
    font-family: 'Pacifico', 'sans-serif';
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    padding: 18px 50px;
    margin: 0 auto;
    display: block;
}
.more-products{
    width: 370px;
    height: 70px;
    display: none;
    margin: 0 auto;
    border: none;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    font-size: 35px;
    line-height: 40px;
    color: #454545;
    font-family: 'Pacifico', 'sans-serif';
}

.btn-mob{
    display: none;
}

/*about-us*/

.title-block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-us{
    padding: 80px 0;
    &__inner{
        display: flex;
        justify-content: space-around;
    }
    &__text-block{
        width: 645px;
    }
    &__title{
        margin-bottom: 35px;
        font-size: 30px;
        line-height: 34px;
    }
    &__text{
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.01em;
      
    }
}
.left{
    margin: 0;
}

/*contacts*/
.contacts{
    position: relative;
    padding-bottom: 80px;
}
.acorn{
    position: absolute;
    right: 0;
    top: 70px;
    z-index: -1;
}
.contacts-title{
    margin-bottom: 180px;   
}
.contact-item{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #000;
}
.text-item{
    color: #000;
    text-decoration: none;
}
.icon{
    margin-right: 10px;
}
.arrow-contact{
    position: relative;
    left: 129px;
    top:-40px;
}
.arrow-contact-mob{
    display: none;
}
.contacts__inner{
    display: flex;
    align-items: flex-end;
    margin-left: 30px;
}
.social{
    width: 440px;
    height: 215px;
    background-image: url(/img/Union.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    position: relative;
    right: -115px;
    top: -21px;
    &-text{
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.01em;
        margin-bottom: 20px;
    }
    &-icon{
       &:not(:last-child){
           margin-right: 55px;
       }
    }
}
/*footer*/

.footer{
    background-color: #fff;
    position: relative;
    &-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        padding: 0 30px;
    }
    &-logo{
        position: absolute;
        top: -50;
        left: calc(50% - 93px);
        z-index: 0;
    }
    &-text{
        margin: 0 auto;
        text-align: center;
        max-width: 150px;
    }
    &-block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-basis: 70%;
    }
}



@media screen and (max-width: 1050px){
    .social {
        right: 0;
    }
    .arrow-contact{
        left: 30px;
        width: 305px;
    }
    .tabs{
        position: relative;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        &__and{
            margin: 20px 0;
        }
        &__arrow{
            position: absolute;
            left: 16%;
        }
    }
    
}

@media screen and (max-width: 980px){
    .first-screen-bg {
        padding-top: 50px;
        padding-left: 30px;
        background-size: 125%;
    }
    .header-inner{
        justify-content: flex-end;
    }
    .backet{
        margin-top: 35px;
    }
    .menu, .search, .header__link{
        display: none;
    }
    .d-block{
        display: block;
    }
    .d-flex{
        display: flex;
    }
    .about-us__inner{
        padding: 0 30px;
    }
    .tabs__arrow{
        left: 8%;
    }
    .footer{
       
        &-text{
            margin-top: 65px;
        }
        &-logo{
            order:-1;
            position: relative;
            left:0;
            top: -50px;
        }
        &-inner{
            flex-direction: column;
        }
        &-menu{
            flex-basis: 100%;
            margin-right: 0;
            margin-bottom: 40px;
           
        }
        &__link{
            margin-bottom: 40px;
        }
    }
    .menu__item{
        line-height: 5px;
        margin-right: 30px;
    }
    .menu .menu__item:not(:last-child){
        margin-right: 30px;
    }

}
@media screen and (max-width: 760px){
    .advantages__inner{
        flex-direction: column;
        align-items: center;
    }
    .tabs__arrow{
        left: 0;
    }
    .about-us__inner{
       flex-direction: column;
       align-items: center;
    }
    .about-us__text-block{
        margin-bottom: 40px;
    }
    .arrow-about{
        display: none;
    }
    .btn-dct{
        display: none;
    }
    .btn-mob{
        display: block;
        margin: 0 auto;
    }
    .contacts__inner{
        flex-direction: column;
        align-items: center;
    }
    .contacts-title {
        margin-bottom: 70px;
    }
    .contacts__text{
        margin-bottom: 90px;
    }
    .social{
        margin-bottom: 260px;
    }
    .acorn{
        top:420px;
    }
    .arrow-contact{
        display: none;
    }
    .arrow-contact-mob{
        display: block;
    }

}

@media screen and (max-width: 760px){
    
    .product__inner{
        flex-direction: column;
        align-items: center;
    }
    .about-us__text-block{
        width: 100%;
    }
}

@media screen and (max-width: 650px){
     .tabs__arrow{
        display: none;
    }
}
@media screen and (max-width: 580px){
    .first-screen__title{
        font-size: 30px;
        width: 305px;
        line-height: 34px;
    }
    .first-screen__text{
        font-size: 14px;
        line-height: 17px;
        width: 280px;
    }
    .category__card{
        height: 157px;
        width: 157px;
    }
    .category__img{
        height: 78px;
        width: 78px;
    }
    .category__btn{
        width: 130px;
        height: 29px;
        background-size: 20%;
        font-size: 13px;
        line-height: 10px;
    }
    .tabs__arrow{
        left: 0;
    }
}
@media screen and (max-width: 480px){
    .first-screen-bg {
        background-size: 150%;
    }
    .contacts__text {
        margin-bottom: 0px;
    }
    .acorn {
        top: 519px;
        width: 320px;
    }
    .social {
        margin-bottom: 90px;
        background-repeat: no-repeat;
    }
    .contacts__text {
        margin-bottom: 40px;
    }
    .social{
        background-image: url(/img/Union-mob.png);
        width: 100%;
        &-icon{
            img{
                width: 34px;
            }
            
        }
        &-text{
            width: 228px;
            text-align: center;
        }
    }
    .contacts__inner{
        margin-left: 0;
    }
    .advantages{
        padding: 0 5px;
        
    }
    .advantages-card:not(:last-child){
        margin-right: 0;
    }
}
@media screen and (max-width: 380px){
.first-screen-bg {
    background-size: 200%;
}

}